@import "./components/contact-form.css";
#contact {
  width: 90%;
  margin: 0 auto;
  padding-top: 80px;
  display: inline-block;  
}

#contact-heading {
  float: left;
  margin-top: 30px;
  width: 30%;
  display: flex;
  flex-direction: column;
}

#header-contact h1 {
  color: #F68948;
}


#subheader-contact {
  padding-left: 30px;
  margin-top: 70px;
  margin-bottom: 50px;
  width: 100%;
}

#contact-form {
  width: 63%;
  height: 85%;
  margin-top: 50px;
  float: right;
  background: #fff;
}

.contact-item {
  display: flex;
  margin-bottom: 10px;
}

.fab, .fas {
  font-size: 20px;
  padding-right: 15px;
  color:#1C1B20;
}

.icons {
  margin-top: 40px;
  display: flex;
  justify-content: space-evenly;
}

.icons .fab {
  font-size: 2rem;
}

