/* import css files */
@import "./home.css";
@import "./about.css";
@import "./skill.css";
@import "./work.css";
@import "./contact.css";
@import "./components/nav.css";

/* global css */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: #1C1B20;
}

.span-font, .skill-title {
  font-family: 'Libre Baskerville', serif;
  font-style: italic;
  color:#F68948;
}

.container {
  display: flex;
  justify-content: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: calc(100% - 120px);
  /* background: #f1f1f1; */
  background: #ECECEC;
}

.page-header {
  font-weight: 900;
  font-size: 80px;
  line-height: 120px;
}

.page-subheader {
  font-weight: 600;
  font-size: 30px;
  line-height: 40px;
}

.page-text {
  font-size: 18px;
  line-height: 30px;
}



/* non-global css */


