/* import css files */
@import "./home.css";
@import "./about.css";
@import "./skill.css";
@import "./work.css";
@import "./contact.css";
@import "./components/nav.css";

/* global css */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: #1C1B20;
  scroll-behavior: smooth;
}

@font-face {
  font-family: Gilroy;
  src: url(../font/Gilroy-ExtraBold.otf);
}

.span-font, .skill-title {
  font-family: 'Libre Baskerville', serif;
  font-style: italic;
  color:#F68948;
}

.container {
  display: flex;
  justify-content: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: calc(100% - 120px);
  background: #ECECEC;
}

.page-header h1{
  font-family: 'Gilroy', 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 120px;
  line-height: 120px;
}

.page-subheader {
  font-weight: 600;
  font-size: 30px;
  line-height: 40px;
}

.page-text {
  font-size: 18px;
  line-height: 30px;
}

/* non-global css */
footer {
  height: 60px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  font-family: 'Libre Baskerville', serif;
  font-size: 12px;
}

.fa-heart {
  color: red;
  margin-left: 3px;
  padding-right: 5px;
  font-size: 15px;
}

@media only screen and (max-width: 480px) {
  .main-container {
    width: 100%;
  }

  .page-header h1{
    font-size: 100px;
    line-height: 100px;
  }

  .page-subheader {
    font-weight: 600;
    font-size: 25px;
    line-height: 35px;
  }
  
  .page-text {
    font-size: 18px;
    line-height: 30px;
  }
}

