@import "./components/skill-list.css";
#skills {
  width: 90%;
  margin: 0 auto;
  padding-top: 60px;
  display: inline-block;  
}

#skills-heading {
  float: left;
  margin-top: 30px;
  width: 30%;
  display: flex;
  flex-direction: column;
}

#header-skills h1 {
  color: #419AA0;
}

#subheader-skills {
  margin: 50px auto;
}

#sets-skills {
  width: 70%;
  height: 85%;
  margin-top: 50px;
  float: right;
  background: #fff;
}

#skill-container {
  width: 85%;
  margin: 0 auto;
  height:100%;
}

#skill-container h3 {
  color:#419AA0;
  font-style: italic;
  font-weight: normal;
  font-size: 20px;
  line-height: normal;
  padding-top: 30px; 
  padding-bottom: 15px; 
}

.triangle {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
  border-bottom: 100px solid #419AA0;
  opacity: 0.5;
}

#future-skill {
  text-align: center;
  margin-top: -15px;
}

#future-bottom {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

#future-skill p {
  padding: 10px 15px;
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
}

@media only screen and (max-width: 1060px) {
  #skills {
    display: flex;
    flex-direction: column;
  }

  #skills-heading {
    height: auto;
    width: 70%;
  }

  #subheader-skills {
    margin-top: 20px;
  }

  #sets-skills {
    width: 100%;
    height: auto;
    background: #fff;
    margin-top: 0px;
  }

  #skill-container h3 {
    padding-top: 20px; 
    padding-bottom: 15px; 
  }
}

@media only screen and (max-width: 480px) {
  #skills {
    width: 100%;
  }

  #skills-heading {
    padding-left: 5%;
  }
}

