#current-skills {
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
}
.percentage-bar {
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  height: 1rem;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.myProgress {
  width: 80%;
}

.percentage {
  background-color: #ececec;
  border: 1px solid #419aa0;
  height: 16px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.percentage p {
  font-size: 10px;
  font-weight: bold;
  color: #419aa0;
}

.skill-icon {
  font-size: 25px;
  color: #419aa0;
}

.skill-name {
  font-family: Montserrat, sans-serif;
  padding-left: 15px;
}
